 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-c-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-javascript-plain colored"></i>
      
<!--       <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="tech">
      <h2>Technologies</h2>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-bootstrap-plain colored"></i>
     <i class="devicon-nodejs-plain-wordmark"></i>
    
<!--       <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-heroku-original-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
<!--       <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="tech">
      <h2>Database</h2>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-oracle-original colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
     
<!--       <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
</div>
