<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<!-- <div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out 1</a>
  </div>
</div> -->

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/weather.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Weather App </h3>
    <ul>
      <li> NodeJS</li>
      <li> Darksky API</li>
      <li> Mapbox API</li>
    </ul>
    <p>Developed a web app that can fetch the real time weather data of any location by just entering the name of the location.</p>
    <a class="project-link" target="_blank" href="https://github.com/manan1710/nodejs-weather-website">GitHub</a>
    <a class="project-link" target="_blank" href="https://manan-weather-application.herokuapp.com/">Heroku</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/node-js-mysql-crud.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> NodeJS-MySql CRUD App </h3>
    <ul>
      <li> NodeJs</li>
      <li> MySql</li>
      <li> Rest API</li>
    </ul>
    <p>Created REST API for CRUD operations using NodeJS and MySql Database.</p>
    <a class="project-link" target="_blank" href="https://github.com/manan1710/nodejs-mysql-crud-app">GitHub</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/vaccine.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Live Vaccine Slot Tracker </h3>
    <ul>
      <li> Python</li>
      <li> Government Open APIs</li>
    </ul>
    <p>In this project, I have used APIs provided by government and integrated them with python script so that a user can get notifications of live vaccine slots 
      availability in the ‘Telegram’ channel.</p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Android-Python.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Medmate </h3>
    <ul>
      <li> Android</li>
      <li> Python</li>
      <li> Django</li>
    </ul>
    <p>In this project, I have developed an android application for frontline health workers to deliver essential stuffs from one location to another location and also 
      developed rest APIs using Python-Django framework for registering and authenticating users.</p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/bank management app.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Bank Management Web App </h3>
    <ul>
      <li> Java: JSP, Servlets</li>
      <li> MySql</li>
      <li> HTML, CSS, JavaScript</li>
    </ul>
    <p>In this project, I have created a Java based web application resembling the functionalities of the bank for learning purposes.</p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/home-automation.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Home Automation System </h3>
    <ul>
      <li> Android</li>
      <li> Firebase</li>
      <li> DialogFlow</li>
    </ul>
    <p>I have designed and integrated home automation system with Google Home and Alexa mini device and developed an android application for controlling the nonsmart 
      electrical devices using voice commands.</p>
  </div>
</div>

<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div> -->
