<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<!-- <div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out 1</a>
  </div>
</div> -->
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/weather.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Weather App </h3>
    <ul>
      <li> NodeJS</li>
      <li> Darksky API</li>
      <li> Mapbox API</li>
    </ul>
    <p>Developed a web app that can fetch the real time weather data of any location by just entering the name of the location.</p>
    <a class="project-link" target="_blank" href="https://github.com/manan1710/nodejs-weather-website">GitHub</a>
    <a class="project-link" target="_blank" href="https://manan-weather-application.herokuapp.com/">Heroku</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/node-js-mysql-crud.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> NodeJS-MySql CRUD App </h3>
    <ul>
      <li> NodeJs</li>
      <li> MySql</li>
      <li> Rest API</li>
    </ul>
    <p>Created REST API for CRUD operations using NodeJS and MySql Database.</p>
    <a class="project-link" target="_blank" href="https://github.com/manan1710/nodejs-mysql-crud-app">GitHub</a>
  </div>
</div>

<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div> -->
